<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SPK_WP.Properties.Settings.rate_pegawaiConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\rate_pegawai.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SPK_WP.Properties.Settings.rate_pegawaiConnectionString1"
            connectionString="Data Source=LAPTOP-IFK92F3Q;Initial Catalog=rate_pegawai;User ID=sa;Password=1234567890"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>